/*@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Neucha&display=swap');

/* Global styles */
* {
    box-sizing: border-box;
    align-content: center;
    text-align: center;
}

html {
    background: url('./purple\ gradient.jpg');
    background-size: cover;
    /*background-color:rgba(40, 0, 50, 1)*/
}

body {
    margin: 0;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "Neucha";*/
    font-family: "Madimi One";
    color: white;
}

p {
  font-size: 20px;
  padding: 2rem;
  font-family: "Madimi One";
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.small-img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

.center {
  padding: 50px 0;
  text-align: center;
}

a {
  font-size: 18px;
  color: white;
}

.mobile-menu {
  display: none;
}

.menu {
  display: none;
}

/* Nav bar */
.desktop-nav ul {
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style-type: none;
    box-shadow: 0, 0, 5px rgba(0, 0, 0, 0.15);
    z-index: 10000;
  }

  .desktop-nav ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    background: rgba(100, 0, 100, 0.4);
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 15px;
    font-family: "Madimi One";
  }

  .desktop-nav ul li:hover {
    background-color: rgba(120, 0, 120, 0.8);
    transform: scale(1.1);
    color: #fff;
    z-index: 100000;
  }

  .desktop-nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    z-index: 100000;
    font-family: "Madimi One";
  }

  .footer-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    padding: 2rem;
    min-height: 200px;
    z-index: 1000;
  }

  .desktop-nav ul li ul li {
    background: rgba(100, 0, 100, 0.5);
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
  }

  .desktop-nav ul li ul li:hover {
    background: rgba(100, 0, 100, 0.7);
    transform: scale(1.1);
    z-index: 10;
  }

  .desktop-nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

/* Carousel container */
.carousel-container {
  display: inline-block;
  max-width: 100%;
  position: relative;
  margin: 1rem;
}

/* Hide the images by default */
.mySlides {
  display: flex;
  justify-content: center;
  width: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 1px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text 1/3 */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Jumbotron */
div .hero {
    width: 100vw;
    border-radius: 20px;
    max-height: 20vh;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    align-content: center;
    z-index: 0;
}

/* Flexbox Simple Rows and Columns */
.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    /* extra styles so we can see our divs */
    border: 1px;
    background-color: rgba(0,0,100,0.2);
    padding: 2rem;
    min-height: 200px;
}

.hero article {
    display: block;
    position: absolute;
    border-radius: 20px;
    bottom: 10%;
    width: 100%;
    padding: 2%;
    background: linear-gradient(90deg,
                                rgba(100,0,110,0.5) 0%,
                                rgba(100,0,100,0.1) 100%);
    /* can use CSS gradient picker */
 }

 button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(100,0,100,0.1);
    color: white;
    text-transform: uppercase; /* caps lock */
    cursor: pointer;
    font-family: "Madimi One";
  }

  button:hover {
    background-color: rgba(150, 0, 150, 0.5);
    cursor: pointer;
  }

.thumb {
    position: relative;
    width: 40%;
    overflow: hidden;
    margin: 24px auto;
    border-radius: 20px;
    overflow: hidden;
}

.thumb img {
  transform: scale(1);
  transform: rotate(0deg);
  transition: all 1s ease;
  overflow: hidden;
}

.thumb:hover img{
  transform: scale(1.5) rotate(-20deg);
  overflow: hidden;
}

.mask {
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(50,0,60,0.6);
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.mask h2 {
  margin: 0;
}

.mask p {
  font-style: italic;
  font-size: 20px;
  padding: 2rem;
}

.thumb:hover .mask {
  opacity: 1;
  width: auto;
  overflow: hidden;
}

.thumb .mask h2, .thumb .mask p, .thumb .mask a {
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-out;
  overflow: hidden;
}

.thumb:hover .mask h2, .thumb:hover .mask p, .thumb:hover .mask a {
  opacity: 1;
  transform: scale(1);
  overflow: hidden;
}

/* Contact page */
form {
  display: inline;
}

/* Phone */
@media screen and (max-width: 768px) {

  .desktop-nav {
    display: none;
  }

  /* Mobile nav bar */
  .mobile-menu {
    display: block;
    color: rgba(100, 0, 100, 0.4);
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  .menu {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    border-bottom: 1px solid rgba(100, 0, 100, 0.8);
    padding: 1rem;
    margin: 1rem;
  }

  .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
  }

  .carousel-container {
    width: 25%;
  }

  .thumb {
    width: auto;
  }

  .mask, .mask h2, .mask p, .nask a, .thumb:hover, .thumb .mask h2, .thumb .mask p, .thumb .mask a, .thumb:hover img, .thumb:hover .mask {
    display: none;
    transform: none;
  }

  /* Contact page */
  fieldset {
    display: block;
  }

  .hero img{
    display: none;
  }

  .hero article {
    transform: scale(0.8);
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 10px;
    padding: 4px 8px;
    position:relative;
    top: 0;
  }

  .carousel-container img {
    width: 200%;
    height: 200%;
  }

  .mySlides .text {
    display: block;
    font-size: 15px;
  }
}