@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Neucha&display=swap');

/* Global Styles */
* {
    color: white;
    font-family: "Madimi One";
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, black, rgba(45, 10, 120, 0.9));
    opacity: 0.7;
}

/* Desktop nav bar */
.desktop-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgba(117, 2, 232, 0.6);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .desktop-nav li a {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20px;
    background-color: rgba(107, 0, 222, 0.6);
    text-decoration: none;
    border: 10px inset rgba(117, 2, 232, 0.2);
  }
  
  .desktop-nav li a.active {
    background-color: rgb(127, 12, 242);
    color: white;
  }
  
  .desktop-nav li a:hover:not(.active) {
    background-color: rgba(130, 15, 250, 0.9);
    transform: scale(1.1);
  }

  /* Content */

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

/* Phone */

@media screen and (max-width: 768px) {

    .desktop-nav li a {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 18px;
        background-color: rgba(127, 12, 242, 0.6);
        text-decoration: none;
      }
}